.login-btn {
    text-decoration: none;
    color: #fff;
    background-color: #45a049;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #727272;
    color: white;
  }
  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0px 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 0px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #050505;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links a:hover {
    padding: 5px 10px;
    border-radius: 5px;
  }